.navbar{
    justify-content: space-between;
    padding-left: 700px;
    font-family: sans-serif;
    font-weight: lighter;
    font-size: 1,5em;
}
mat-label{
    font-family: sans-serif;
    font-weight: lighter;
    font-size: 1,5em;
}

span{
    padding-right: 1em;
}

.status{
    color: #f5a623;
}

.icons{
    color: gray;
}