.navbar{
    justify-content: space-between;
    padding-left: 700px;
    font-family: Muli;
    font-size: 18px;
    color: #4a4a4a;
    border-bottom: 2px solid #f5a623;
}
mat-label{
    font-family: Muli;
    font-size: 18px;
    color: #4a4a4a;
}

span{
    padding-right: 1em;   
}

.status{
    color: #f5a623;
}

.icons{
    color: gray;
}

::ng-deep .mat-form-field-underline {
    display: none;
  }