<mat-toolbar class="navbar">
    
    <span><mat-icon class="status">fiber_manual_record</mat-icon></span>
    <span>
        <mat-form-field>
            <mat-label>Sandbox</mat-label>
                <mat-select>
                    <mat-option>
                        options
                    </mat-option>
                </mat-select>
        </mat-form-field>
    </span>

    <span>Documentation</span>
    <div class="icons">
        <span><mat-icon class="icon">help</mat-icon></span>
        <span><mat-icon>notifications</mat-icon></span>
        <span><mat-icon>account_circle</mat-icon></span>
    </div>  
</mat-toolbar>

