.content{
    margin-left: 281px;
    margin-top: -1526px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 42px;
    background-color: #f2f3f8;
    height: 1470px;
    font-family: Muli;
}