<div class="heading">Settlement</div>

<div class="settlement-section">

    <div class="top-menu">
        <mat-button-toggle-group >
            <mat-button-toggle value="all">All</mat-button-toggle>
            <mat-button-toggle value="today">Today</mat-button-toggle>
            <mat-button-toggle value="last30days">Last 30 days</mat-button-toggle>
            <mat-button-toggle value="last90days">Last 90 days</mat-button-toggle>
            <mat-button-toggle value="custom">Custom</mat-button-toggle>
        </mat-button-toggle-group>
        <mat-form-field>
            <mat-label class="currency-selection">KES</mat-label>
            <mat-select>
              <mat-option value="option">Options</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-icon class="download-icon">arrow_downward</mat-icon>
    </div>

    <div class="second-menu">
        <span class="figures">KES 560,987.00</span>
        <span class="graph-title">TOTAL AVAILABLE BALANCE</span>
        <span><a class="dates-button" mat-raised-button routerLink="#">JUN 2 <mat-icon id="arrow">arrow_right</mat-icon> JUL 1 2018</a></span>
    </div>

    <div class="settlement-graph">
        <div style="display: block">
            <canvas baseChart width="1099" height="368"
                [datasets]="barChartData"
                [labels]="barChartLabels"
                [options]="barChartOptions"
                [legend]="barChartLegend"
                [chartType]="barChartType"
                [colors]="chartColors"></canvas>
        </div>
    </div>


    <div class="bottom-titles">
        <span>ACCOUNT BALANCE</span>
        <span id="available">AVAILABLE AMOUNT TO SETTLE</span>
    </div>
    <div class="figures">
        <span >KES 1,999,999.99</span>
        <span id="available-figure">KES 398,009.42</span>
    </div>

    <div class="settlement-footer">
        <span class="last-updated">Last updated 5 minutes ago</span>
        <span class="all-settlement"><a routerLink='#'>See all settlements <mat-icon id="arrow">arrow_right_alt</mat-icon></a></span>
    </div>


</div>
