<div class="heading">Analytics</div>

<div class="analytics-section">

    <div class="menu">
        <mat-button-toggle-group >
            <mat-button-toggle value="all">All</mat-button-toggle>
            <mat-button-toggle value="today">Today</mat-button-toggle>
            <mat-button-toggle value="last30days">Last 30 days</mat-button-toggle>
            <mat-button-toggle value="last90days">Last 90 days</mat-button-toggle>
            <mat-button-toggle value="custom">Custom</mat-button-toggle>
        </mat-button-toggle-group>
        <mat-form-field>
            <mat-label class="currency-selection">KES</mat-label>
            <mat-select>
              <mat-option value="option">Options</mat-option>
            </mat-select>
          </mat-form-field>
          
          <mat-form-field>
            <mat-label class="total-volume-selection"><mat-icon>assessment</mat-icon> Total volume</mat-label>
            <mat-select>
              <mat-option value="option">Options</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-icon class="download-icon">arrow_downward</mat-icon>
    </div>

    <div class="second-menu">
        <span class="figures">KES 34,050.00</span>
        <span class="title">TOTAL VOLUME</span>
        <span><a class="dates-button" mat-raised-button routerLink="#">JUN 2 <mat-icon id="arrow">arrow_right</mat-icon> JUN 8 2018</a></span>
    </div>

    <div class="analytics-graph">
        <div style="display: block">
            <canvas baseChart width="1099" height="368"
                [datasets]="lineChartData"
                [labels]="lineChartLabels"
                [options]="lineChartOptions"
                [legend]="lineChartLegend"
                [chartType]="lineChartType"
                [colors]="chartColors">
            </canvas>
        </div>
    </div>


    <div class="bottom-titles">
        <span>ORDERS</span>
        <span id="revenue">REVENUE</span>
    </div>
    <div class="figures">
        <span >28</span>
        <span id="revenue-figure">KES 12,670.90</span>
    </div>

    <div class="analytics-footer">
        <span class="last-updated">Last updated 5 minutes ago</span>
        <span class="all-transactions"><a class="see-all-link"routerLink='#'>See all transactions <mat-icon id="arrow">arrow_right_alt</mat-icon></a></span>
    </div>


</div>
