.heading{
    letter-spacing: 0.49px;
    color: rgba(0, 0, 0, 0.6);
    font-size: 24px;
    padding-top: 30px;
}

.analytics-section{
    height: 601px;
    background-color: #ffffff;
    margin-top: 15px;
    padding-left: 30px;
}

.analytics-graph{
    padding-top: 20px;
}

mat-icon{
    color: gray;
    vertical-align: bottom;
}

.top-menu{
    padding-bottom: 10px;
}

.second-menu{
    padding-top: 20px;
}

.title{
    color: #8251ab;
    font-weight: bold;
    padding-left: 10px;
}

.all-transactions{
    margin-left: 550px;
    
}
a{
    text-decoration: none;
    color: #69aeff;
}
#arrow{
    color: #69aeff;
    vertical-align: middle;
}

.last-updated{
    color: #9b9b9b;
    font-size: 14px;
    
}

.figures{
    color: #3b3b3b;
    font-size: 24px;  
}
#revenue{
    padding-left: 170px;
}

#revenue-figure{
    padding-left: 200px;
}

.bottom-titles{
    color: #8251ab;
    padding-top: 10px;
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 20px;
}

.analytics-footer{
    padding-top: 50px;
}

